*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo{
  width: 3%;
  border-radius: 20px;
  border: 3px solid yellow;
  box-shadow: 0px 0px 10px 5px yellow ;
}
.alertBox{
  display: none;
  position:fixed;
  border-radius: 5px;
    bottom: 0;
    left: 43%;
    background-color: rgb(71, 255, 47);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
    animation: slide 0.3s linear;  

}
.about-container {
  background-color: gray;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;

}

.paragraphs{
  background-color: yellow;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid;
  padding: 1rem;
  text-align: center;
}
.paragraphs p{
  font-size: larger;
  margin: 1rem;
}
.loginMain{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login{
  width: 39vw;
  background: yellow;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  border: 1px solid;

}
.changeRoute{
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.login input{
  border: 0;
    padding: 8px;
    border-radius: 10px;
    width: 80%;

}
.login button{
  padding: 5px 1rem;
  border-radius: 10px;
  border: 0;
  background-color: black;
  color: white;
}
.imgRoute{
  display: contents;
}
.dashboard{
  height: 100vh;
  width: 100%;
  background-color: gray;

}
.noteContaner{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}
.deleteeditBtn{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.noteList{
  margin: 1rem;
  background: yellow;
    /* display: contents; */
    width: 13vw;
    height: 15vh;
    gap: 10px;
    padding: 1rem;
    list-style-type: none;
    border-radius: 10px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
}
.dashboardForm{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21vh;
  gap: 10px;

}
.dashboardForm input{
  border: 0;
    padding: 10px;
    border-radius: 10px;
}
.dashboardForm button{
  border: 0;
  padding: 10px;
  border-radius: 10px;
}
.navMain{
  /* width: 5vh; */
  padding: 1rem;
  height: 13vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deshboardHead{
box-shadow: 0 0 8px black;
  /* background-color: rgba(255, 255, 0, 0.171); */
  padding: 5px;
  border-radius: 10px;

  width: fit-content;
margin: auto;
position: relative;
top: 1rem;
}
.navUl{
  display: flex;
  gap: 1vw;
  list-style-type: none;
}
.navUl li a,.logoutBtn{
  background-color: yellow;
  text-decoration: none;
  padding: 8px;
  border-radius: 10px;


}

@media screen and (max-width:412px) {
  .noteList{
    width: 40%;
  }
  .login{
    width: 90%;
  }
  .paragraphs{
    width: 90%;
  }
  .logo{
    width: 16%;
    border-radius: 59px;
  }
}